<h1>{{contact.name}}</h1>
<h3>Phone Numbers</h3>
<div ng-if="contact.phones.length == 0">
  {{contact.name}} has no phone numbers. <a href="#/edit/{{contact._id}}">Add one!</a>
</div>

<div ng-repeat="phone in contact.phones">
  <b>{{phone.type | capitalize}}: </b> {{phone.phone}}
</div>

<h3>Emails</h3>
<div ng-if="contact.emails.length == 0">
  {{contact.name}} has no emails. <a href="#/edit/{{contact._id}}">Add one!</a>
</div>
<div ng-repeat="email in contact.emails">
  <b>{{email.type | capitalize}}: </b> {{email.email}}
</div>
