<form>
  <div class="form-group">
    <input type="text" placeholder="Jim McMann" ng-model="contact.name"></input>
  </div>
  <div class="form-group">
    <div class="btn-group" dropdown auto-close="outsideClick" is-open="status.open">
    <button id="phone-button" type="button" class="btn btn-default" dropdown-toggle>Type<span
        class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="phone-button">
      <li role="menuitem"  ng-repeat="(phone_type, _) in contact.phones"><span ng-click="status.open = false || selectType(phone_type)">{{phone_type | capitalize}}</span></li>
      <li role="separator" class="divider">
      <li role="menuitem"><input type="text" placeholder="New"></input></li>
    </ul>
    </div>
    <input type="tel" placeholder="(123)456-7890" ng-model="contact.phones.unclass"></input>
  </div>
  <button type="submit" class="btn btn-default" ng-click="contacts_api.update(contact_id, contact)">Apply Changes</button>
</form>
