<form>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Jim McMann" ng-model="contact.name"></input>
  </div>
  <object-input ng-model="contact.phones"></object-input>
  <object-input ng-model="contact.phones"></object-input>
  <object-input ng-model="contact.emails"></object-input>
  <object-input ng-model="contact.emails"></object-input>
    <button type="submit" class="form-control btn btn-primary" ng-click="contacts_api.update(contact_id, contact)" ng-disabled="clean">Apply Changes</button>
</form>
{{clean}}
