<div class="form-group">
  <div class="input-group">
    <div class="input-group-btn">
      <div class="btn-group" dropdown auto-close="outsideClick" is-open="status.open">
        <button id="phone-button" type="button" class="btn btn-default" dropdown-toggle>
          {{status.selected_key | capitalize}}<span class="caret" style="margin-left: 0.5em"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="phone-button">
          <li role="menuitem"  ng-repeat="key in keys"><span ng-click="selectKey(key)">{{key | capitalize}}</span></li>
          <li role="separator" class="divider">
          <li role="menuitem"><form ng-submit="createNewType()"><input type="text" placeholder="New type" ng-model="status.new_type"></input></form></li>
        </ul>
      </div>
    </div>
    <input class="form-control" type="tel" focus-on="focusInput" placeholder="{{ placeholder }}" ng-model="data[status.selected_key]"></input>
  </div>
</div>
